@import "./var.less";

@media (max-width: 1024px) {
    .col-xl-3 {
        .fb(25%);
    }
    .col-xl-4 {
        .fb(33.33%);
    }
    .col-xl-6 {
        .fb(50%);
    }
    .col-xl-8 {
        .fb(66.66%);
    }
    .col-xl-9 {
        .fb(75%);
    }
    .col-xl-12 {
        .fb(100%);
    }
    .mcontainer {
        padding: 0 15px;
    }
    .news {
        margin-left: 0;
        margin-right: 0;
    }
    .header {
        padding-left: 15px;
        padding-right: 15px;
        &__right,
        &__left {
            width: 50%;
        }
        &__right {
            justify-content: end;
        }
        &__logo {
            width: calc(50% - 200px);
            text-align: center;
        }
        &__contact,
        &__menu {
            display: none;
        }
        &__catalog {
            svg {
            }
        }
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .welcome {
        height: 500px;
        &__navigation {
            margin-right: 30px;
        }
    }
    .row.col20,
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .product__box.mini .product__title {
        font-size: 20px;
    }
    .product__box .hoveropacity {
        opacity: 1;
    }
    .product__box {
        margin-bottom: 30px;
    }
    .product__box:hover {
        transform: translateY(0);
    }
    .info {
        &__title {
            font-size: 16px;
        }
        &__box {
            width: 20%;
        }
    }
    .footer {
        .container {
            flex-wrap: wrap;
        }
        &__box {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    .swipexl {
        overflow: auto;
        flex-wrap: nowrap;
        padding-bottom: 30px;
        .col-3,
        .col-20 {
            width: auto;
        }
        .choice {
            width: 250px;
        }
        .product__box {
            width: 300px;
        }
    }
    .pslider {
        max-width: unset;
        margin-right: 0;
    }
    .product__form {
        max-width: unset;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        .fb(25%);
    }
    .col-md-4 {
        .fb(33.33%);
    }
    .col-md-6 {
        .fb(50%);
    }
    .col-md-8 {
        .fb(66.66%);
    }
    .col-md-9 {
        .fb(75%);
    }
    .col-md-12 {
        .fb(100%);
    }
    .menu {
        &__dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            padding: 5px;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
            z-index: 1;
            a.menu__child {
                background: unset;
            }
        }
        &__list {
            display: flex;
            align-items: center;
            border-bottom: 1px solid @grey;
            padding-bottom: 15px;
            margin-bottom: 30px;
            flex-wrap: wrap;
            &:li {
                position: relative;
            }
            a {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: #f5f5f5;
                padding: 5px 10px;
                &:after {
                    margin-left: 5px;
                }
                &.active {
                    background-color: @black;
                    color: #fff;
                }
            }
        }
    }
    .header__btn {
        margin-left: 15px;
    }
    .welcome {
        &__nav {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.85);
        }
        &__title {
            transform: translateX(15px);
        }
        &__social,
        &__product,
        &__navigation {
            display: none;
        }
        &__sliders {
            width: 100%;
        }
    }
    .news {
        &__col {
            padding: 0 20px;
        }
    }
    .banner {
        &__top {
            position: relative;
            z-index: 2;
        }
        &__item {
            height: auto;
            &.pink {
                padding-left: 40px;
                .banner__title {
                    font-size: 42px;
                }
            }
        }
        &__top {
            position: relative;
            z-index: 2;
        }
        &__img {
            animation-name: rotatemd;
            bottom: unset;
            top: 0;
            right: 20px;
        }
        &__time {
            margin-top: 30px;
        }
    }
    .footer__sub.border {
        padding: 20px;
    }
    .blog__img {
        height: 200px;
    }
    .product__form .col-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .order {
        flex-wrap: wrap;
        &__left,
        &__right {
            width: 100%;
            padding: 0;
        }
        &__right {
            padding: 15px;
        }
    }
}

@keyframes rotatemd {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@media (max-width: 600px) {
    .col-sm-3 {
        .fb(25%);
    }
    .col-sm-4 {
        .fb(33.33%);
    }
    .col-sm-6 {
        .fb(50%);
    }
    .col-sm-8 {
        .fb(66.66%);
    }
    .col-sm-9 {
        .fb(75%);
    }
    .col-sm-12 {
        .fb(100%);
    }
    .swipexl .product__box {
        width: 200px;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 15px 0;
        &__catalog {
            font-size: 0;
            margin-right: 0;
        }
        &__btn {
            display: none;
            &:nth-child(2) {
                display: block;
                margin-left: 0;
            }
        }
        &__logo {
            width: 60%;
        }
        &__left,
        &__right {
            width: 20%;
        }
    }
    .welcome {
        height: 380px;
        &__title {
            font-size: 22px;
        }
    }
    .col-xs-3 {
        .fb(25%);
    }
    .col-xs-4 {
        .fb(33.33%);
    }
    .col-xs-6 {
        .fb(50%);
    }
    .col-xs-8 {
        .fb(66.66%);
    }
    .col-xs-9 {
        .fb(75%);
    }
    .col-xs-12 {
        .fb(100%);
    }
    .catalog {
        &__filter {
            flex-wrap: wrap;
            position: sticky;
            top: 0;
            z-index: 3;
            background-color: #fff;
            padding: 10px;
            justify-content: start;
            gap: 10px;
            margin-bottom: 0;
            button {
                margin: 0;
                width: 48%;
            }
        }
    }
    .news {
        &__col {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    .banner.mini {
        order: 2;
    }
    .footer__sub.border {
        order: 1;
    }
}
