.bgcover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgcontain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.dcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.centerpos {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.centerver {
  top: 0;
  bottom: 0;
  margin: auto;
}
.centerhor {
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  .col-xl-3 {
    width: 25%;
    padding: 0 10px;
  }
  .col-xl-4 {
    width: 33.33%;
    padding: 0 10px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 10px;
  }
  .col-xl-8 {
    width: 66.66%;
    padding: 0 10px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 10px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 10px;
  }
  .mcontainer {
    padding: 0 15px;
  }
  .news {
    margin-left: 0;
    margin-right: 0;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__right,
  .header__left {
    width: 50%;
  }
  .header__right {
    justify-content: end;
  }
  .header__logo {
    width: calc(50% - 200px);
    text-align: center;
  }
  .header__contact,
  .header__menu {
    display: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .welcome {
    height: 500px;
  }
  .welcome__navigation {
    margin-right: 30px;
  }
  .row.col20,
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .product__box.mini .product__title {
    font-size: 20px;
  }
  .product__box .hoveropacity {
    opacity: 1;
  }
  .product__box {
    margin-bottom: 30px;
  }
  .product__box:hover {
    transform: translateY(0);
  }
  .info__title {
    font-size: 16px;
  }
  .info__box {
    width: 20%;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer__box {
    width: 50%;
    margin-bottom: 30px;
  }
  .swipexl {
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: 30px;
  }
  .swipexl .col-3,
  .swipexl .col-20 {
    width: auto;
  }
  .swipexl .choice {
    width: 250px;
  }
  .swipexl .product__box {
    width: 300px;
  }
  .pslider {
    max-width: unset;
    margin-right: 0;
  }
  .product__form {
    max-width: unset;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .col-md-3 {
    width: 25%;
    padding: 0 10px;
  }
  .col-md-4 {
    width: 33.33%;
    padding: 0 10px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 10px;
  }
  .col-md-8 {
    width: 66.66%;
    padding: 0 10px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 10px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 10px;
  }
  .menu__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .menu__dropdown a.menu__child {
    background: unset;
  }
  .menu__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bababa;
    padding-bottom: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .menu__list:li {
    position: relative;
  }
  .menu__list a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 5px 10px;
  }
  .menu__list a:after {
    margin-left: 5px;
  }
  .menu__list a.active {
    background-color: #3a3a3a;
    color: #fff;
  }
  .header__btn {
    margin-left: 15px;
  }
  .welcome__nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .welcome__title {
    transform: translateX(15px);
  }
  .welcome__social,
  .welcome__product,
  .welcome__navigation {
    display: none;
  }
  .welcome__sliders {
    width: 100%;
  }
  .news__col {
    padding: 0 20px;
  }
  .banner__top {
    position: relative;
    z-index: 2;
  }
  .banner__item {
    height: auto;
  }
  .banner__item.pink {
    padding-left: 40px;
  }
  .banner__item.pink .banner__title {
    font-size: 42px;
  }
  .banner__top {
    position: relative;
    z-index: 2;
  }
  .banner__img {
    animation-name: rotatemd;
    bottom: unset;
    top: 0;
    right: 20px;
  }
  .banner__time {
    margin-top: 30px;
  }
  .footer__sub.border {
    padding: 20px;
  }
  .blog__img {
    height: 200px;
  }
}
@keyframes rotatemd {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@media (max-width: 600px) {
  .col-sm-3 {
    width: 25%;
    padding: 0 10px;
  }
  .col-sm-4 {
    width: 33.33%;
    padding: 0 10px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 10px;
  }
  .col-sm-8 {
    width: 66.66%;
    padding: 0 10px;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 10px;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 10px;
  }
  .swipexl .product__box {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .col-xs-3 {
    width: 25%;
    padding: 0 10px;
  }
  .col-xs-4 {
    width: 33.33%;
    padding: 0 10px;
  }
  .col-xs-6 {
    width: 50%;
    padding: 0 10px;
  }
  .col-xs-8 {
    width: 66.66%;
    padding: 0 10px;
  }
  .col-xs-9 {
    width: 75%;
    padding: 0 10px;
  }
  .col-xs-12 {
    width: 100%;
    padding: 0 10px;
  }
}
